<header>
  <h1>Employees</h1>
  <button (click)="createEmployee()"><fa-icon [icon]="faPlus"></fa-icon></button>
</header>

@let isLoading = isLoading$ | async;
@let employees = employees$ | async;

@if(isLoading === true) {
  <div class="loading-spinner">
    <p-progressSpinner ariaLabel="loading" />
  </div>
} @else {
  @if(employees?.length) {
    <div class="employees">
      @for(employee of employees; track employee.id) {
        <app-employee [employee]="employee" (edit)="editEmployee(employee)"></app-employee>
      }
    </div>

    @let pagination = currentPagination$ | async;
    @let totalNumberOfElements = totalNumberOfElements$ | async;

    <p-paginator
      (onPageChange)="currentPageChanged($event)"
      [style]="{'background':'var(--grey-100)'}"
      [first]="0"
      [rows]="pagination.size"
      [totalRecords]="totalNumberOfElements" />
  }

  @else {
    <div class="no-employees">
      <img src="/assets/images/no-content.png" alt="no content" />
      <h2>No employees found</h2>
      <p>There is no employees yet.</p>
      <button (click)="createEmployee()"><fa-icon [icon]="faPlus"></fa-icon> Add a new employee</button>
    </div>
  }
}

<p-dialog header="Create Employee" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '35rem' }" [closable]="false">
  <app-form-employee [employee]="employeeToEdit" (save)="saveEmployee($event)" (cancel)="closeDialog()"></app-form-employee>
</p-dialog>
