<div class="avatar">
  <img src="/assets/images/avatar-de-lutilisateur.png" alt="avatar" />
  <span>John Doe</span>
</div>

<div class="details">
  <dl>
    <div>
      <dt>Position</dt>
      <dd>Developer</dd>
    </div>
    <div>
      <dt>Supervisor</dt>
      <dd>Tristan Denmat</dd>
    </div>
  </dl>
</div>

<div class="actions">
  <button>
    <fa-icon [icon]="faEdit"></fa-icon> Edit
  </button>
  <button class="btn btn-danger">
    <fa-icon [icon]="faTrash"></fa-icon> Delete
  </button>
</div>
