<div class="avatar">
  <img src="/assets/images/avatar-de-lutilisateur.png" alt="avatar" />
  <span>{{ employee?.fullName }}</span>
</div>

<div class="details">
  <dl>
    <div>
      <dt>Position</dt>
      <dd>{{ employee?.position }}</dd>
    </div>
    <div>
      <dt>Supervisor</dt>
      <dd>{{ employee?.supervisor?.firstName }} {{ employee?.supervisor?.lastName }}</dd>
    </div>
  </dl>
</div>

<div class="actions">
  <button (click)="this.edit.emit();">
    <fa-icon [icon]="faEdit"></fa-icon> Edit
  </button>
  <button (click)="deleteEmployee()">
    <fa-icon [icon]="faTrash"></fa-icon> Delete
  </button>
</div>
